
body {
  background-color: #f5f5f5;
  min-height: 100%;
  font-size: 14px;
  color: #333;
  line-height: 1;
}
.main-container {
  width: 1020px;
  margin: 40px auto 0;
  display: block;
  padding-bottom: 40px;
}
.mypage-main-content {
  background: #f5f5f5;
  width: 700px;
  float: right;
}
.mypage-user {
  background-color: royalblue;
  height: 200px;
  padding: 20px;
  text-align: center;
  position: relative;
  a {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #333;
  }
  &__number {
    margin: 8px 0 0;
    &__bold {
      font-weight: 600;
    }
  }
  .avatar {
    height: 60px;
    width: 60px;
    margin: 0 auto;
    border-radius: 50%;
  }
  h2 {
    margin: 8px 0 0;
    font-size: 14px;
  }
}

.user-value {
  display: inline-block;

  font-size: 14px;
  span {
    font-size: 16px;
    margin: 0 0 0 8px;
  }
}

.tab-container {
  background: #fff;
  margin: 0;
  .tabs {
    background: #eee;
    border: 0;
    font-size: 0;
    li.active {
      background-color: #FFFFFF;
      a {
        border-top: 2px solid #ea352d;
      }
    }
    li {
      display: inline-block;
      width: 50%;
      text-align: center;
      vertical-align: top;
      h3 {
        font-size: 22px;
      }
      a {
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 72px;
      }
    }
  }
}

.tab-contents {
  display: block;
  background: #fff;
  ul.tab-pane {
    display: block;
    li {
      position: relative;
      a:hover {
        opacity: .75;
      }
      .mypage-item-list {
        border-bottom: 1px solid #eee;
        display: block;
        min-height: 80px;
        padding: 16px;
        color: #333;
      }
      .image-icon {
        background-color: blueviolet;
        position: relative;
        overflow: hidden;
        float: left;
        height: 48px;
        width: 48px;
      }
      .mypage-item-info {
        margin: 0 40px 0 68px;
        &__text {
          overflow: hidden;
          display: -webkit-box;
          max-height: 4.4em;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          line-height: 1.5;
        }
        &__time {
          display: inline-block;
        }
      }
      .arrow-right {
        position: absolute;
        top: 50%;
        right: 16px;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #333;
      }
    }
    li.mypage-chart {
      padding: 16px;
      a {
        background: #eee;
        display: block;
        height: 56px;
        margin: 0 auto;
        color: #333;
        line-height: 56px;
        text-align: center;
      }
    }
    li:last-child {
      border: 0;
    }
  }
}

.transaction-container {
  background: #fff;
  margin: 40px 0 0;
  &__head {
    background: #fafafa;
    font-size: 16px;
    padding: 0 16px;
    line-height: 72px;
  }
  .tabs {
    background: #eee;
    border: 0;
    font-size: 0;
    li.active {
      background-color: #FFFFFF;
      a {
        border-top: 2px solid #ea352d;
      }
    }
    li {
      width: 50%;
      text-align: center;
      vertical-align: top;
    }
    h3 {
      font-size: 22px;
      a {
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 72px;
      }
    }
  }
}

li.not-found {
  padding: 160px 0 60px;
  background: url();
  background-repeat: no-repeat;
  background-position: center 40px;
  background-size: 78px 85px;
  text-align: center;
  font-size: 16px;
  color: #ccc;
}

