
body{
  background: #f5f5f5;
}

.main{
  display: block;
  &__container{
    width: 700px;
    margin: 0 auto;
    background: #fff;
    &__top{
      font-size: 22px;
      line-height: 1.5;
      text-align: center;
      border-bottom: 1px solid #f5f5f5;
      &__content{
        font-size: 22px;
        padding: 32px;
        font-weight: bold;
      }
    }
    &__input{
      max-width: 343px;
      margin: 0 auto;
      padding-top: 40px;
      padding-right: 40px;
      padding-bottom: 64px;
      &__default{
        margin-top: 32px;
        label{
          font-weight: 600;
          display: inline-block;
        }
        span{
          background: #ea352d;
          margin-bottom: 8px;
          padding: 3px 5px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
        }
        &__box{
          display: flex;
          &__place{
            width: 100%;
            margin-top: 8px;
            height: 48px;
            padding-right: 16px;
            padding-left: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          &__prefecture{
            width: 100%;
            margin-top: 8px;
            height: 48px;
            padding-right: 16px;
            padding-left: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          .half_input{
            width: calc(50% - 6px);
            margin-right: 6px;
            margin-top: 8px;
            margin-right: 6px;
            height: 48px;
            padding-left: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          p{
            margin-top: 8px;
            line-height: 1.5;
            color: #888;
          }
        }
        &__danger{
          p{
            margin-top: 8px;
            line-height: 1.5;
            color: #888;
            font-size: 14px;
          }
          &__password{
            margin-top: 16px;
            .checkbox{
              width: 20px;
              height: 20px;
              border-radius: 2px;
              border: 1px solid #ccc;
              font-size: 10px;
              line-height: 17px;
              text-align: center;
              color: #fff;
              border-color: transparent;
              background: #0099e8;
              opacity: 1;
            }
            .pass{
              font-size: 14px;
              font-weight: 400;
              vertical-align: middle;
              cursor: pointer;
            }
          }
        }
        &__birthday{
          display: flex;
          align-items: center;
          &__box{
            width: 76px;
            margin-right: 10px;
            &__select{
              width: 80px;
              height: 48px;
              padding: 0 10px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
            }
          }
          p{
            margin: 0 2px;
          }
        
        }
      }
      &__conf{
        margin-top: 32px;
        &__person{
          font-size: 16px;
        }
        &__safe{
          margin-top: 8px;
          padding: 0;
          line-height: 1.5;
          font-size: 14px;
        }
      }
      &__beiin{
        margin-top: 8px;
        line-height: 1.5;
        color: #888;
        font-size: 14px;
      }
      &__next{
        max-width: 343px;
        display: flex;
        input{
          margin-top: 32px;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border-radius: 4px;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
        input:hover{
          opacity: 0.8;
        }
      }
      &__regis{
        margin-top: 40px;
        text-align: right;
        a{
          color: #0099e8;
          text-decoration: none;
          font-size: 14px;
        }
        a:hover{
          text-decoration: underline;
          opacity: 0.6;
        }
      }
      &__english{
        margin-top: 32px;
        background-color: #f5f5f5;
        padding: 8px 16px;
        p{
          color: #888888;
          font-size: 12px;
          a{
            color: #0099e8;
            text-decoration: none;
          }
          a:hover{
            text-decoration: underline;
            opacity: 0.6;
          }
        }
      }
    }
  }
}