-# = render "layouts/simple-header"

.container#clearfix
  .banner
    .banner__card
  .category
    .category__heading 人気のカテゴリー
    .category__group
      .category__group__item レディース
      .category__group__item メンズ
      .category__group__item 家電・スマホ・カメラ
      .category__group__item おもちゃ・ホビー・グッズ

  .top-main
    .products
      .products__heading レディース新着アイテム
      .products__more_btn もっと見る ＞
    .product
      .product__list
        = image_tag "test.jpg", alt: "test", class: "product__list__image"
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース

  .top-main
    .products
      .products__heading レディース新着アイテム
      .products__more_btn もっと見る ＞
    .product
      .product__list
        = image_tag "test.jpg", alt: "test", class: "product__list__image"
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース

  .top-main
    .products
      .products__heading レディース新着アイテム
      .products__more_btn もっと見る ＞
    .product
      .product__list
        = image_tag "test.jpg", alt: "test", class: "product__list__image"
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース
      .product__list
        .product__list__image
        .product__list__price ¥1980
        .product__list__product_name ワンピースワンピースワンピースワンピースワンピースワンピース

-# %footer
-#   = render "layouts/footer-publicity"
-#   = render "layouts/footer-introduction"
-#   = render "layouts/bottom-camera"