.bottom-camera 
  .bottom-camera__text 
    %p 出品する 
  %label
    = link_to new_product_path do 
      .bottom-camera__icon 
        = image_tag "icon/icon_camera.png", class:"camera-image", alt:"カメラのアイコン" 
