.publicity 
  .publicity__box  
    .publicity__box__description 
      だれでもカンタン、人生を変えるフリマアプリ 
    .publicity__box__reminder 
      今すぐ無料ダウンロード！ 
    .publicity__box__logos 
      .publicity__box__logos__appstore  
        .publicity__box__logos__appstore__image 
          = link_to "#" do
            = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class: "banner-img" 
      .publicity__box__logos__google 
        .publicity__box__logos__google__image 
          = link_to "#" do
            = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: "banner-img" 
